<div class="">
  <form ng-submit="form.addPoll();" name="pollForm"  class="poll-form" novalidate>
    <div class="form-border row">
      <div class="col-md-7">
        <input type="text" ng-model="form.name" placeholder="Name of Poll" required>
        <input type="text" ng-model="form.username" placeholder="Username" required>
      </div>
      <div class="col-md-5">
        <div class="option-form">
          <h5 ng-hide="form.options.length >= 2">Make sure you fill out at least two voting options</h5>
          <input type="input" ng-model="form.option" placeholder="Enter Name Of Option">
          <button type="button" ng-click="form.addOption()" class="btn btn-info">Add Option</button>
          <hr>
          <h3 ng-hide="!form.options.length"><u>Options</u></h3>
          <ol class="options-list" ng-repeat="option in form.options">
            <span class="options-num" ng-bind="option.count"></span><li ng-bind="option.name"></li>
          </ol>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Poll</button>
  </form>
  <a ui-sref="home">Back</a>
</div>
